
body {
    margin:0;
    font-family:'Segoe UI' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefefe;
    }

    .navbar {
        background: linear-gradient(90deg, #b62a2a, #ffa500, #00c3ff );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        color: white;

    }
    .logo {
        line-height: 1.2;
        color: white;
        
    }

    .guvi {
        font-size: 36px;
        color: #00b300;
        font-weight:bold;
    }

    .hcl {
        font-size: 34px;
        color: #0047ab;
        font-weight: bold;
        margin-left: 15px;
    }

    .menu a {
        background-color: #ffffff;
        color:#000;
        text-decoration: none;
        padding: 10px 20px;
        margin-left: 15px;
        border-radius: 8px;
        font-weight: bold;
        border: 2px solid transparent;
        transition: 0.3s ease;
    }


    .menu a:hover {
        background-color: #000;
        color: #ffffff;
    }


    
